.hero {
  background: linear-gradient(rgb(164, 98, 41), steelblue);

  background-image: url("../public/assets/home/background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}

@media (min-width: 768px) {
  .hero {
    background-position: center center;
    background-image: url("../public/assets/home/background-home-tablet.jpg");
  }
}

/* @media (min-width: 45em) {
  .hero {
    background-image: url("../public/assets/home/background-home-desktop.jpg");
  }
} */
