.background {
  background-image: url("../public/assets/destination/background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}
