@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;700&family=Bellefair&display=swap");

:root {
  --ff-header: "Bellefair", serif;
  --ff-content: "Barlow Condensed", sans-serif;

  --clr-black: hsl(230, 35%, 7%);
  --clr-blue: hsl(231, 77%, 90%);
  --clr-white: hsl(0, 0%, 100%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: var(--ff-header);
}

h1 {
  font-size: 15rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 5.6rem;
}

h4 {
  font-size: 3.2rem;
}

h5 {
  font-family: var(--ff-content);
  font-size: 2.8rem;
  letter-spacing: 4.75px;
}

h6 {
  font-family: var(--ff-content);
  font-size: 2.8rem;
  letter-spacing: 2.7px;
}

p {
  font-family: var(--ff-content);
  letter-spacing: 2.35px;
  font-size: 1.6rem;
}

nav {
  font-size: 1.6rem;
  letter-spacing: 2.7px;
}

/* Makes 1rem = 10px */
html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
